{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "libraryDirectory": "lib",
                "style": "css"
            }
        ],
        "transform-decorators-legacy"
    ]
}

